* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url("assets/imageTropa.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  transition: all 0.3s;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: "chaney";
  src: url("fonts/CHANEY/CHANEY-Extended.otf");
  font-style: normal;
  font-weight: normal;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 42px;

  width: 100%;
  height: 100vh;
}

.contentDays {
  display: flex;
  align-items: center;

  border: 3px solid #d8bca9;
  border-radius: 8px;
  padding: 14px 22px;
  margin-bottom: -250px;
  background-color: #351d1499;
}

.contentDays h2 {
  font-family: "chaney";
  font-size: 18px;
  color: #d8bca9;
}

.contentDays span {
  font-family: "chaney";
  color: #c06141;
  font-size: 18px;
}
